* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#h1class {
  text-align: center;
  color: rgb(129, 120, 120);
  margin-top: 20px;
}

#center {
  display: flex;
  justify-content: space-around;
  float: center !important;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  /* display: block; */
  line-height: 1em; /* a */
  max-height: 4em; /* a x number of line to show (ex : 2 line)  */
}

.create-ticket {
  cursor: pointer;
  font-size: 1rem;
}
