* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logout {
  font-size: 1.2rem;
}
#logo {
  width: 170px;
  height: 50px;
}

#trow {
  cursor: pointer;
}
#trow:hover {
  background-color: rgb(203, 216, 203);
}

#create-ticket-btn {
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 1.3rem !important;
  background-color: rgb(236, 233, 233);
  margin-left: auto !important;

  display: block;

  cursor: pointer;
}
.create-div {
  margin-left: auto;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  /* display: block; */
  line-height: 1em; /* a */
  max-height: 4em; /* a x number of line to show (ex : 2 line)  */
}

.back-box {
  position: absolute;
  top: 130px;
  left: 40px;
}

#back {
  font-size: 1rem;
  color: rgb(15, 70, 10);
  padding: 10px;
  border: 3px solid rgb(158, 175, 153);
  border-radius: 4px !important;
  background-color: rgba(226, 235, 224, 0.26) !important;
  cursor: pointer;
}
