* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logout {
  font-size: 1.2rem;
}
#logo {
  width: 170px;
  height: 50px;
}

#head {
  /* background-color: rgb(227, 231, 225); */
}

/* table {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid rgb(48, 46, 46);
  margin-right: auto;
  margin-left: auto;
  min-width: 60% !important;
  max-width: 80% !important;
  margin-top: 2rem;
} */

/* .table,
td {
  vertical-align: middle !important;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: rgb(207, 193, 193);
} */

#trow {
  cursor: pointer;
}
#trow:hover {
  background-color: rgb(203, 216, 203);
}

#create-ticket-btn {
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 1.3rem !important;
  background-color: rgb(236, 233, 233);
  margin-left: auto !important;

  display: block;

  cursor: pointer;
}
.create-div {
  margin-left: auto;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  /* display: block; */
  line-height: 1em; /* a */
  max-height: 4em; /* a x number of line to show (ex : 2 line)  */
}

.back-box {
  position: absolute;
  top: 130px;
  left: 40px;
}

#back {
  font-size: 1rem;
  color: rgb(15, 70, 10);
  padding: 10px;
  border: 3px solid rgb(158, 175, 153);
  border-radius: 4px !important;
  background-color: rgba(226, 235, 224, 0.26) !important;
  cursor: pointer;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

.heading-primary {
  color: rgb(231, 227, 227);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 5px;
  z-index: 1001;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
  z-index: 1002;
}
