* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-parent {
  margin-left: auto;
  margin-right: auto;
  /* background-color: green; */
}
#create-form {
  background-color: rgba(16, 160, 16, 0.13);
  font-size: 1.2rem;
}

#create-btn {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  background-color: rgb(112, 196, 106);
  border: 2px solid green;
  border-radius: 200px;
  display: block;
  margin-top: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

#addMessage {
  text-align: center;
  color: rgb(97, 93, 93);
  font-size: 1.5rem;
  margin-top: 20px;
}

.back-box {
  position: absolute;
  top: 130px;
  left: 40px;
}
