* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-parent {
  margin-left: auto;
  margin-right: auto;
  /* background-color: green; */
}
#create-form {
  background-color: rgba(16, 160, 16, 0.13);
  font-size: 1.2rem;
}

#create-btn {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  background-color: rgb(112, 196, 106);
  border: 2px solid green;
  border-radius: 200px;
  display: block;
  margin-top: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

#addMessage {
  text-align: center;
  color: rgb(97, 93, 93);
  font-size: 1.5rem;
  margin-top: 20px;
}

#back-to-inv {
  font-size: 1rem;
  padding: 10px;
  color: rgb(15, 70, 10);
  padding: 15px;
  border: 3px solid rgb(158, 175, 153);
  /* border-radius: 4px !important; */
  background-color: rgba(173, 219, 163, 0.26) !important;
  cursor: pointer;
  box-sizing: border-box;

  /* width: 200px !important; */

  /* margin-bottom: 10px; */
}
#center-parent {
  width: 100%;
  height: 100%;
  margin-top: 1.5em;
  margin-left: 4em;
  margin-bottom: 1em;

  position: relative;
}
#center-link {
  /* width: 80%;
  height: 100%; */
  display: inline-block;
  /* background-color: red; */
  position: relative;
}

.back-class {
  /* background-color: green; */
}
#mrow {
  margin: 0 !important;
}
